body{
    margin: 0%;
    width: 100%;
    background-color: #eae5e5;
}
#font-size{
   font-size: 30px;
   font-weight: 700;
}
.option1{
    color: #4d4d4d;
    font-weight: 700; 
    padding-left: 34%; 
    
    text-decoration: none; 
}  
.option2{
    color: #4d4d4d;
    font-weight: 700; 
    padding-top: 32px;  
 
}
.move-me{
    width: 15%;
    float: left;
    margin: 2%;
    
}
.height1{
    height:145px;
    width: 100%;
}
.half-width{
    width: 24%;
    float: left;
    margin: 1%;
    padding-left: 29%;
   
}
.half-width img{
    width: 100%;
}
.height2{
    height: 500px;
}
.half-width2{
    float: left;
    padding-top: 3%;
    padding-left: 1%;
    color: #4d4d4d ;
}
#hello{
    font-size: 70px;
    font-weight: 700;
    color: #4d4d4d ;
}
#font-size2{
    font-size: 40px;
}
#A1{
    text-decoration: none;
    color: white;
    padding: 16px 19px ;
    background-color: #e83556;
    border-radius: 57px;
    font-weight: 700;

}
#A2{
    text-decoration: none;
    color: white;
    padding: 16px 19px ;
    background-color: #d1c926;
    border-radius: 57px;
    font-weight: 700;

}
#A3{
    text-decoration: none;
    color: white;
    padding: 16px 19px ;
    background-color: #61d0d4;
    border-radius: 57px;
    font-weight: 700;

}
#section-color{
    height:509px;
    width: 100%;
}
.head-edit{
    text-align: center;
    margin-top: 2%;
    font-weight: 700;
    word-spacing: 1px;
    font-size: 25px;
}
.latest{
    color:#f46565;
}
.working{
    color: #363954;
}
#bar2{
    width: 18%;
    margin-left: 48%;
    margin-top: -6%;
}
.structure{
    width: 25%;
    float: left;
    box-shadow: 10px 10px 40px gray;
    margin: 3%;
    padding-left: 2%;
    height: 80%;
    border-radius: 3%;
}
.image-office1{
    width: 70%;
    padding-left: 54px;
    margin-top:33px ;

}
.image-office2{
    width: 70%;
    padding-left: 54px;
    margin-top:33px ;

}
.image-office3{
    width: 70%;
    padding-left: 54px;
    margin-top:33px ;
}
#heading{
    text-align: center;
    font-weight: 700;
    word-spacing: 1px;
    font-size: 40px;
    background-color: #e83556;
    padding-top: 1.5%;
    border-radius: 5px;
    height: 15%;
    color:#fff;
}
.team{
    width: 25%;
    float: left;
    margin: 3%;
    padding-left: 2%;
    border-radius: 3px;
    height: 60%;
  
}
.color-h3{
    color: #264f78;
    text-align: center;
}
.team-image{
    width: 31%;
}
#feature{
    width: 25%;
    float: left;
    margin: 3%;
    padding-left: 2%;
    height: 10%;    
}
.feature02{
    width: 410px;
}
.footer{
    height: 400px;
    background-color:#264f78;
    margin-top: 20%;
    border-radius: 5px;
    
   
}
.footer-section{
    width: 15%;
    float: left;
    margin: 3%;
    padding-left: 2%;
}   
.footer-section2{
    width: 16%;
    float: left;
    margin: 3%;
    padding-left: 2%;
}
.footer-section2 h1 img{
    width: 5%;
}
.txt{
    color: honeydew;
    text-decoration: none;
}
.footer-section3{
    width: 39%;
    float: left;
    /* margin: 6%; */
    padding-left: 14%;
    height: 187px;
    margin-top: 11%;
}  
.logo{
    width: 3%;
}
#bigtext{
    font-size: 34px;
} 
.location-pic{
    width: 7%;
    
}.unlisted{
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
}
.imagebar{
    width: 50%;
}
#footer-section4{
    height: 200px;
    background-color: #e83556;
    margin-bottom: 3%;
    text-align: center;
}
#awesome{
    margin-left: 679px;
    margin-top: 9%;
}
#h3-foot{
    text-align: center;
}
#copyright{
    text-align: center;
}
.you{
    color: #6a5acd;
}
.tnx{
    color: #ffa07a;
}
.face{
    color: #64a2f2;
    text-decoration: none;
}
.linked{
    color: #7485e9;
    text-decoration: none;
}
.git{
    text-decoration: none;
}